@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-move {
  0% {
    clip-path: inset(0 100% 0 0);
    border-color: #00aaff;
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
    border-color: #00ffee;
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
    border-color: #22ff44;
  }
}

.animate-border {
  animation: border-move 1.3s linear 1 forwards;
}

/* Remove scrollbars */
body {
  overflow: hidden;
}

